---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      p.display {
        color: var(--sand);
        font-size: 24px;
        margin-bottom: 64px;
      }

      @media screen and (min-width: 540px) {
        p.display {
          font-size: 36px;
          margin-bottom: 96px;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 32px 0;
        padding: 0;
      }
      ul li {
        width: 100%;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li a {
        display: block;
      }
      .title {
        color: var(--mint);
        font-size: 22px;
        line-height: normal;
        margin: 0;
        opacity: 1;
      }
      .date {
        margin: 0;
        color: var(--white-60);
        font-size: 16px;
      }

      .description {
        color: var(--white-90);
        font-size: 16px;
        line-height: 20px;
      }
      ul li a:hover .title {
        opacity: 0.77;
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p class="display">
        French Hallway is a weblog about <strong>Design</strong> and <strong
          >Social Psychology</strong
        >.
      </p>
      <hr />
      <h2>Blog Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <h3 class="title">{post.data.title}</h3>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="description">{post.data.description}</p>
              </a>
              <hr />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
